// Copyright 2025, Leia Inc.
// SPDX-License-Identifier: BSL-1.0

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Leia Inc."
            VALUE "FileDescription",  "SR Cube OpenXR Ext Test Application (XR_EXT_session_target)"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "sr_cube_openxr_ext"
            VALUE "LegalCopyright",   "Copyright 2025 Leia Inc."
            VALUE "OriginalFilename", "sr_cube_openxr_ext.exe"
            VALUE "ProductName",      "Leia SR Test Apps"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
